<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.oneguysolutions.generality.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.oneguysolutions.generality.Perspective"
            id="com.oneguysolutions.generality.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.resources.ProjectExplorer"
            icon="icons/filenav_nav.gif"
            id="com.oneguysolutions.generality.views.navigatorView"
            name="Template Projects"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.oneguysolutions.generality.commands.ExitHandler"
            id="com.oneguysolutions.generality.commands.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.oneguysolutions.generality.commands.SelectTemplateHandler"
            id="com.oneguysolutions.generality.commands.SelectTemplate"
            name="SelectTemplate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="com.oneguysolutions.generality.commands.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               label="About"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.oneguysolutions.generality.application"
            name="Generality">
         <property
               name="appName"
               value="Generality">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Generality.&#x0A;&#x0A;Application that generates commonly used code. &#x0A;&#x0A;Enjoy.&#x0A;&#x0A;Pedro Flores">
         </property>
         <property
               name="windowImages"
               value="icons/window_16.gif,icons/window_32.gif,icons/window_48.gif,icons/window_64.gif,icons/window_128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,210,240,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,230,240,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.oneguysolutions.generality.commands.SelectTemplate"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
       <!--viewer
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <popupMenu
                allowsPlatformContributions="false"
                id="com.oneguysolutions.justgenerateme.views.navigatorView">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/-->   
             <!--insertionPoint name="group.reorganize" /-->         
             <!--insertionPoint
                   name="group.port"
                   separator="true"/-->     
             <!--insertionPoint
                   name="group.build"
                   separator="true"/--> 
             <!--insertionPoint
                   name="group.generate"
                   separator="true"/--> 
             <!--insertionPoint
                   name="group.search"
                   separator="true"/-->              
             <!--insertionPoint
                   name="additions"
                   separator="true"/-->              
             <!--insertionPoint
                   name="group.properties"
                   separator="true"/-->
          <!--/popupMenu>
       </viewer-->
       <viewerActionBinding
             viewerId="com.oneguysolutions.generality.views.navigatorView">
         <includes>
            <!--actionExtension pattern="org.eclipse.ui.navigator.resources.actions.EditActions" />
            <actionExtension pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions" />
            <actionExtension pattern="org.eclipse.ui.navigator.resources.OpenActions" />
            <actionExtension pattern="org.eclipse.ui.navigator.resources.WorkingSetActions" /-->
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
       <viewerContentBinding 
             viewerId="com.oneguysolutions.generality.views.navigatorView">
          <includes>
             <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"></contentExtension>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"></contentExtension>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"></contentExtension>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"></contentExtension>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
<activity
            name="Debugging"
            description=""
            id="org.eclipse.debugging">
      </activity>
      <activity
            name="External Tools"
            description=""
            id="org.eclipse.externalTools">
      </activity>
      <activity
            name="Java Development"
            description=""
            id="org.eclipse.javaDevelopment">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activity
            name="Plug-In Development"
            description=""
            id="org.eclipse.plugInDevelopment">
      </activity>
      <activity
            name="Team"
            description=""
            id="org.eclipse.team">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.debugging"
            pattern="org.eclipse.debug.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.externalTools"
            pattern="org.eclipse.ant.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.externalTools"
            pattern="org.eclipse.ui.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org.eclipse.jdt.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org.eclipse.pde.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>
      <category
            name="External Tools"
            description=""
            id="org.eclipse.categories.externalToolsCategory">
      </category>
      <category
            name="Java"
            description=""
            id="org.eclipse.categories.javaCategory">
      </category>
      <category
            name="Plug In Development"
            description=""
            id="org.eclipse.categories.pdeCategory">
      </category>
      <category
            name="Team"
            description=""
            id="org.eclipse.categories.teamCategory">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.externalTools"
            categoryId="org.eclipse.categories.externalToolsCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.debugging"
            categoryId="org.eclipse.categories.javaCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.javaDevelopment"
            categoryId="org.eclipse.categories.javaCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.plugInDevelopment"
            categoryId="org.eclipse.categories.pdeCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.team"
            categoryId="org.eclipse.categories.teamCategory">
      </categoryActivityBinding>
      <activityActivityBinding
            childActivityId="org.eclipse.javaDevelopment"
            parentActivityId="org.eclipse.plugInDevelopment">
      </activityActivityBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.oneguysolutions.generality.viewerContribution1"
            targetID="com.oneguysolutions.generality.views.navigatorView">
         <action
               class="com.oneguysolutions.generality.actions.RunTemplateActionDelegate"
               enablesFor="1"
               id="com.oneguysolutions.generality.actions.RunTemplateAction"
               label="Run Template"
               menubarPath="group.new">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </enablement>
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.oneguysolutions.generality.editors.GeneralityOptionsMultiPageEditor"
            contributorClass="com.oneguysolutions.generality.editors.GeneralityOptionsMultiPageEditorContributor"
            extensions="opt"
            icon="icons/window_16.gif"
            id="com.oneguysolutions.generality.editors.GeneralityOptionsMultiPageEditor"
            name="Generality Options">
      </editor>
   </extension>
</plugin>
